.glow {
    position: fixed;
    display: none;
    z-index: -1;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.center {
    position: relative;
}

.center::before {
    content: '';
    position: absolute;
    background: var(--secondary-glow);
    border-radius: 50%;
    width: var(--before-width);
    height: var(--before-height);
    margin-left: calc(var(--before-width) / -2);
}

.center::after {
    content: '';
    position: absolute;
    background: var(--primary-glow);
    width: var(--after-width);
    height: var(--after-height);
    z-index: -1;
}

.center::before,
.center::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
}