.input-container {
    position: relative;
}

.input {
    position: relative;
    background-color: white;
    color: #222222;
    border: double 2px transparent;
    border-radius: 8px;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #7063c566, #1e136155);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-size: 16px;
    padding: 12px;
    outline: none;
    width: 100%;
}

.input-visibility-toggler {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.7;
}