.chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 12px 12px 12px 32px;
    cursor: pointer;
}

.chat-selected {
    background-color: #3b3b3b;
}

.chat-title-small {
    font-size: 14px;
}