.button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background: linear-gradient(to right, #7063c5, #1e1361);
    border: none;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    color: white;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 0.2px;
    transition: transform 0.1s ease-out;
}

.button:hover {
    opacity: 0.8
}