.account-page {
    display: flex;
    height: 100vh;
}

.account-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    align-items: center;
    margin-top: 36px;
    padding-left: 48px;
}

.account-panel h1 {
    font-size: 32px;
    font-weight: 400;
    align-self: flex-start;
}

.delete-account-button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background: #CC3232;
    border-radius: 8px;
    border: none;
    padding: 0.75rem;
    color: white;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 0.2px;
    align-self: flex-start;
    margin-top: 16px;
}