.chat-page {
    display: flex;
    height: 100vh;
}

.chat-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin-top: 36px;
}

.chat-header {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 36px;
}

.messages-scrollview {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 200px;
    overflow-y: scroll;
}

.chat-title-large {
    align-self: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px;
    animation: typing 3s steps(30, end);
}

.image-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .image-upload-form h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .image-upload-form input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .image-upload-form input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .image-upload-form p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
  }
  
  .image-upload-form .uploaded-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .image-upload-form .uploaded-images img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}