.chat-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.chat-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  margin-top: 32px;
  overflow: hidden;
  scroll-behavior: unset;
}

.chat-header {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 36px;
  margin-bottom: 16px;
}

.messages-scrollview {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 200px;
  overflow-y: scroll;
}

.chat-title-large {
  align-self: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 24px;
  animation: typing 3s steps(30, end);
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}