.progress {
    width: 144px;
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 12px;
    position: absolute;
    top: 44px;
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    border-radius: 12px;
    transition: width 0.5s ease-in-out;
}

.progress p {
    font-size: 14px;
    font-weight: 500;
    align-self: center;
    text-align: center;
    margin-top: 4px;
}