.spinner-white {
    position: relative;
    align-self: center;
    border-radius: 50%;
    border: 5px solid transparent;
    animation: spin 1s linear infinite;
    background: linear-gradient(white, white), conic-gradient(from 0.15turn, #1e1361, #7063c5);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.spinner-gray {
    position: relative;
    margin-top: 20px;
    align-self: center;
    border-radius: 50%;
    border: 5px solid transparent;
    animation: spin 1s linear infinite;
    background: linear-gradient(#3C3C3C, #3C3C3C), conic-gradient(from 0.15turn, #1e1361, #7063c5);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.spinner-black {
    position: relative;
    margin-top: 20px;
    align-self: center;
    border-radius: 50%;
    border: 5px solid transparent;
    animation: spin 1s linear infinite;
    background: linear-gradient(rgb(28, 28, 28), rgb(28, 28, 28)), conic-gradient(from 0.15turn, #1e1361, #7063c5);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.spinner-dark {
    position: relative;
    margin-top: 20px;
    align-self: center;
    border-radius: 50%;
    border: 5px solid transparent;
    animation: spin 1s linear infinite;
    background: linear-gradient(#272727, #272727), conic-gradient(from 0.15turn, #1e1361, #7063c5);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}