.image-upload-button-div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
    align-content: flex-end;
}

.image-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.image-upload-form p {
    font-size: 16px;
    margin-bottom: 16px;
}

.uploaded-images-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 16px;
}

.uploaded-image {
    border-radius: 8px;
}

.upload-image-box {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(28, 28, 28);
    width: 164px;
    height: 164px;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}

.upload-image-box:hover {
    opacity: 0.8;
}

.uploaded-image-wrapper {
    display: flex;
    position: relative;
}

.remove-image-button {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}