.countdown-timer {
    margin-top: 24px;
    margin-bottom: 4px;
    padding-left: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: none;
}

.countdown-progress {
    margin: 0;
    width: 65%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 16px;
}

.countdown-progress-bar {
    height: 100%;
    background-color: #007bff;
    border-radius: 12px;
    transition: width 0.5s ease-in-out;
}

.countdown-timer p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}