.checkbox {
    position: absolute;
    background-color: #272727;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    right: -4px;
    top: -8px;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    z-index: 1000;
}

.checkbox:hover {
    background-color: #222222;
}

.checkbox-selected {
    background: linear-gradient(to right, #7063c5, #1e1361);
}