.user-input-form {
    display: flex;
    position: absolute;
    width: 75%;
    bottom: 32px;
    align-self: center;
    justify-self: center;
    align-items: center;
}

.user-input {
    flex: 1;
    height: 48px;
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 48px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #3b3b3b;
    resize: none;
    max-height: 164px;
    min-height: 48px;
}

.send-image {
    position: absolute;
    right: 12px;
    background: none;
    width: 28x;
    height: 28px;
    cursor: pointer;
}