.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    border-right: 0.5px solid rgba(255, 255, 255, 0.1);
    z-index: 100;
    background-color: rgb(28, 28, 28);
}

.sidebar-chats {
    display: flex;
    flex: 1;
    max-height: 70%;
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: column;
    flex: 1;
    width: 216px;
    gap: 8px;
    margin-top: 8px;
    padding-bottom: 100px;
    justify-items: center;
}

.sidebar-top-buttons {
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}

.sidebar-buttons {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.1);
    padding: 1.75rem 2.75rem 1.75rem 1.75rem;
    background-color: rgb(28, 28, 28);
}

.sidebar-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    transition: transform 0.1s ease-out;
}

.sidebar-button:hover {
    opacity: 0.8;
}

.sidebar-button-img {
    width: 24px;
    height: 24px;
}

.sidebar-button-text {
    font-size: 14px;
}

.sidebar-open-button {
    position: absolute;
    right: 0;
    justify-self: center;
    align-self: center;
    top: 45%;
    cursor: pointer;
    background-color: #3b3b3b;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 3px 10px 6px;
}

.sidebar-chats-empty-state {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    text-align: center;
    position: absolute;
    opacity: 0.5;
    top: 40%;
    width: 80%;
    margin-right: 24px;
    align-self: center;
}